header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    background-color: #3581B8;
}

header > .user-area {
    display: flex;
    align-items: center;
}

.header-button {
    margin: 0 .5rem;
}

.notice, .alert {
    padding: 0.5rem;
    text-align: center;
}

.notice {
    background-color: #0E954F;
}

.alert {
    background-color: #ED474A;
}